#define CI_VERSION_INFO_ONLY

#include <windows.h>
#include "../ci.h"

#define _QUOTE(x) # x
#define QUOTE(x) _QUOTE(x)

#define CI_LIBCI_DLLFNAME "LIBCI"

/* Support deprecated PRIVATEBUILD macro */
#if defined(PRIVATEBUILD) && !defined(CI_USER_PRIVATEBUILD)
#  define CI_USER_PRIVATEBUILD PRIVATEBUILD
#endif

#if defined(CI_USER_DLLFNAME_POSTFIX) && !defined(CI_USER_PRIVATEBUILD)
#  error "CI_USER_PRIVATEBUILD must be defined as a string describing the\
 custom changes made to the library."
#endif

/* Prioritize CI_USER_x over CI_LIBCI_x */
#ifdef CI_USER_DLLFNAME_POSTFIX
#  undef CI_LIBCI_DLLFNAME_POSTFIX
#  define CI_LIBCI_DLLFNAME_POSTFIX CI_USER_DLLFNAME_POSTFIX
#endif

#ifdef CI_USER_VERSIONINFO_COMMENTS
#  undef CI_LIBCI_VERSIONINFO_COMMENTS
#  define CI_LIBCI_VERSIONINFO_COMMENTS CI_USER_VERSIONINFO_COMMENTS
#endif

#if defined(CI_DEBUG) && (CI_DEBUG > 0)
#  define VS_DEBUG VS_FF_DEBUG
#  ifndef CI_LIBCI_DLLFNAME_POSTFIX
#    define CI_LIBCI_DLLFNAME_POSTFIX "D"
#  endif /* CI_LIBCI_DLLFNAME_POSTFIX */
#  ifndef CI_LIBCI_VERSIONINFO_COMMENTS
#    define CI_LIBCI_VERSIONINFO_COMMENTS "CI_DEBUG=" QUOTE(CI_DEBUG)
#  endif /* CI_LIBCI_VERSIONINFO_COMMENTS */
#else
#  define VS_DEBUG 0
#  ifndef CI_LIBCI_DLLFNAME_POSTFIX
#     define CI_LIBCI_DLLFNAME_POSTFIX
#  endif /* CI_LIBCI_DLLFNAME_POSTFIX */
#endif /* defined(DEBUG)... */

#ifdef CI_USER_PRIVATEBUILD
#  define VS_PRIVATEBUILD VS_FF_PRIVATEBUILD
#else
#  define VS_PRIVATEBUILD 0
#endif /* CI_USER_PRIVATEBUILD */

#ifdef CI_LIBCI_SPECIALBUILD
#  define VS_SPECIALBUILD VS_FF_SPECIALBUILD
#else
#  define VS_SPECIALBUILD 0
#endif /* CI_LIBCI_BUILD_SPECIAL */

#if ((CI_LIBCI_BUILD_BASE_TYPE & CI_LIBCI_RELEASE_STATUS_MASK) !=\
      CI_LIBCI_BUILD_STABLE)
#  define VS_PRERELEASE VS_FF_PRERELEASE
#  define VS_PATCHED 0
#else
#  define VS_PRERELEASE 0
#  if (CI_LIBCI_BUILD_BASE_TYPE & CI_LIBCI_BUILD_PATCHED)
#    define VS_PATCHED VS_FF_PATCHED
#  else
#    define VS_PATCHED 0
#  endif
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION CI_LIBCI_VER_MAJOR, CI_LIBCI_VER_MINOR, CI_LIBCI_VER_RELEASE, CI_LIBCI_VER_BUILD
PRODUCTVERSION CI_LIBCI_VER_MAJOR, CI_LIBCI_VER_MINOR, CI_LIBCI_VER_RELEASE, CI_LIBCI_VER_BUILD
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS VS_DEBUG | VS_PRIVATEBUILD | VS_SPECIALBUILD | VS_PRERELEASE | VS_PATCHED
FILEOS VOS__WINDOWS32
FILETYPE VFT_DLL
FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN BLOCK "040904E4" /* Language type = U.S English(0x0409) and Character Set = Windows, Multilingual(0x04E4) */
    BEGIN
#ifdef CI_LIBCI_VERSIONINFO_COMMENTS
      VALUE "Comments", CI_LIBCI_VERSIONINFO_COMMENTS "\000"
#endif /* CI_LIBCI_VERSIONINFO_COMMENTS */
#ifdef CI_USER_VERSIONINFO_COMPANYNAME
      VALUE "CompanyName", CI_USER_VERSIONINFO_COMPANYNAME "\000"
#endif /* CI_USER_VERSIONINFO_COMPANYNAME */
      VALUE "FileDescription", "CI image compression library\000"
      VALUE "FileVersion", CI_LIBCI_VER_STRING "\000"
      VALUE "InternalName", CI_LIBCI_DLLFNAME QUOTE(CI_LIBCI_VER_SHAREDLIB) CI_LIBCI_DLLFNAME_POSTFIX " (Windows)\000"
      VALUE "LegalCopyright", "\251 1998-2024 CI Reference Library Authors\000"
#ifdef CI_USER_VERSIONINFO_LEGALTRADEMARKS
      VALUE "LegalTrademarks", CI_USER_VERSIONINFO_LEGALTRADEMARKS "\000"
#endif /* CI_USER_VERSIONINFO_LEGALTRADEMARKS */
      VALUE "OriginalFilename", CI_LIBCI_DLLFNAME QUOTE(CI_LIBCI_VER_SHAREDLIB) CI_LIBCI_DLLFNAME_POSTFIX ".DLL\000"
#ifdef CI_USER_PRIVATEBUILD
      VALUE "PrivateBuild", CI_USER_PRIVATEBUILD "\000"
#endif /* CI_USER_PRIVATEBUILD */
      VALUE "ProductName", "LibCI\000"
      VALUE "ProductVersion", "1\000"
#ifdef CI_LIBCI_SPECIALBUILD
      VALUE "SpecialBuild", CI_LIBCI_SPECIALBUILD "\000"
#endif /* CI_LIBCI_SPECIALBUILD */
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04E4
  END
END
